<!DOCTYPE html>
<html>
<head>

    <title>VUE</title>
    <script src="https://unpkg.com/vue"></script>

    <style>
        .form__text {
            margin: 10px 0
        }
        .active {
            border: 2px solid red
        }
        .error-message {
            color: red;
            font-size: 11px;
            margin: 10px 0
        }
    </style>

</head>

<body>

    <div class="form" id="form">
        <div class="form__wrapper">

            <div class="form__text">
                Имя:<br>
                <div class="error-message">{{ errorMessageName }}</div>
                <input class="input" v-bind:class="{ active: nameInputError }" v-model="name" type="text" size="40" required>
            </div>
            <div class="form__text">
                E-mail:<br>
                <div class="error-message">{{ errorMessageEMail }}</div>
                <input class="input" v-bind:class="{ active: eMailInputError }" v-model="eMail" type="text" size="40" required>
            </div>
            <br>
            <button class="form__button" v-on:click="submitForm" type="submit" id="form-button">
                Отправить
            </button>
            <br>
            <div class="error-message">{{ errorMessageAll }}</div> <br>
            
        </div>
    </div>

    <script>
        var form = new Vue({
            el: '#form',
            data: {
                errorMessageAll: '',
                errorMessageName: '',
                errorMessageEMail: '',                
                name:  '',
                eMail: '',
                nameInputError: false,
                eMailInputError: false                
            },
            methods: {
                submitForm: function () {
                    if (this.validateInput(this.name) && this.validateInput(this.eMail)) {
                        this.errorMessageAll = '',
                        this.errorMessageEMail = '',
                        this.errorMessageName = '',
                        this.nameInputError = false,
                        this.eMailInputError = false
                    } else if (this.validateInput(this.eMail) === false && this.validateInput(this.name) === false) {
                        this.errorMessageAll = 'Пожалуйста, заполните форму',
                        this.nameInputError = true,
                        this.eMailInputError = true                    
                    } else if (this.validateInput(this.name) === false) {
                        this.errorMessageName = 'Пожалуйста, введите Ваше имя',
                        this.errorMessageEMail = '',
                        this.errorMessageAll = '',
                        this.eMailInputError = false,
                        this.nameInputError = true
                    } else {
                        this.errorMessageEMail = 'Пожалуйста, введите Ваш e-mail',
                        this.errorMessageName = '',
                        this.errorMessageAll = '',
                        this.nameInputError = false,
                        this.eMailInputError = true                    
                    }
                },
                validateInput: function (value) {
                    return value !== ''
                }
            },
        });
    </script>

</body>
</html>